apps/tulie_workforce/n8n-workflows/01-content-generation.json
{
  "name": "Content Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Chạy mỗi 30 phút check Google Sheets"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "ContentPlan"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "read-sheets",
      "name": "Read Pending Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-pending",
      "name": "Filter Pending Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "ContentPlan"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "creating"
          },
          "matchingColumns": ["post_id"]
        }
      },
      "id": "update-status-creating",
      "name": "Set Status: Creating",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bannerbear.com/v2/images",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"{{ $json.image_template }}\",\n  \"modifications\": [\n    {\n      \"name\": \"background\",\n      \"image_url\": \"{{ $json.background_url }}\"\n    },\n    {\n      \"name\": \"person\",\n      \"image_url\": \"{{ $json.person_image_url }}\"\n    },\n    {\n      \"name\": \"logo\",\n      \"image_url\": \"{{ $env.LOGO_URL }}\"\n    },\n    {\n      \"name\": \"headline\",\n      \"text\": \"{{ $json.headline_text }}\"\n    },\n    {\n      \"name\": \"subtext\",\n      \"text\": \"{{ $json.sub_text }}\"\n    },\n    {\n      \"name\": \"cta\",\n      \"text\": \"{{ $json.cta_text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "bannerbear-create",
      "name": "Create Image (Bannerbear)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BANNERBEAR_CREDENTIAL_ID",
          "name": "Bannerbear API"
        }
      },
      "notes": "Gửi request tạo ảnh composite. Thay bằng Placid API nếu dùng Placid."
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-image",
      "name": "Wait for Image Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 0],
      "notes": "Chờ Bannerbear render ảnh (~5-15s)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.bannerbear.com/v2/images/{{ $json.uid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "bannerbear-poll",
      "name": "Check Image Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BANNERBEAR_CREDENTIAL_ID",
          "name": "Bannerbear API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-image-ready",
      "name": "Image Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 0],
      "notes": "Nếu chưa xong → loop lại Wait. Nếu xong → tiếp."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-image-url",
              "name": "generated_image_url",
              "value": "={{ $json.image_url }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-image-url",
      "name": "Set Image URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "facebook"
            }
          ]
        }
      },
      "id": "switch-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1980, 0],
      "notes": "Route: facebook / website / both"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là content creator chuyên nghiệp cho thương hiệu {{ $env.BRAND_NAME }}.\n\n**CHỦ ĐỀ:** {{ $json.topic }}\n**TỪ KHOÁ:** {{ $json.keywords }}\n**THÔNG TIN CỐT LÕI:** {{ $json.core_message }}\n**TONE:** {{ $json.tone }}\n\nViết caption Facebook với yêu cầu:\n- Mở đầu bằng hook gây tò mò (1-2 câu ngắn gọn, gây chú ý ngay)\n- Nội dung chính truyền tải thông tin cốt lõi một cách tự nhiên\n- Kết thúc bằng CTA: {{ $json.cta_text }}\n- Thêm 5-8 hashtag liên quan (mix hashtag phổ biến + niche)\n- Độ dài: 150-300 từ\n- Có emoji phù hợp nhưng không lạm dụng\n- Tone: {{ $json.tone }}\n- Viết bằng tiếng Việt\n\nChỉ trả về caption, không giải thích gì thêm."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "ai-facebook-caption",
      "name": "AI: Write Facebook Caption",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [2200, -100],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là SEO content writer chuyên nghiệp cho thương hiệu {{ $env.BRAND_NAME }}.\n\n**CHỦ ĐỀ:** {{ $json.topic }}\n**TỪ KHOÁ CHÍNH:** {{ $json.keywords }}\n**THÔNG TIN CỐT LÕI:** {{ $json.core_message }}\n\nViết bài blog SEO-optimized bằng tiếng Việt:\n- H1: Tiêu đề hấp dẫn chứa từ khoá chính\n- Meta description: tối đa 155 ký tự, tóm tắt nội dung hấp dẫn\n- Cấu trúc: Introduction → 3-5 H2 sections → Conclusion\n- Độ dài: 800-1200 từ\n- Từ khoá xuất hiện tự nhiên, không nhồi keyword\n- Có placeholder cho internal link: [LINK:chủ_đề_liên_quan]\n- CTA cuối bài liên quan đến {{ $json.cta_text }}\n\nOutput format (bắt buộc):\n---\ntitle: \"Tiêu đề bài viết\"\nmeta_description: \"Mô tả SEO\"\n---\n\n[Nội dung bài viết đầy đủ với markdown headings]"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 3000
        }
      },
      "id": "ai-website-article",
      "name": "AI: Write Website Article",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [2200, 100],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "ContentPlan"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_image_url": "={{ $('Set Image URL').item.json.generated_image_url }}",
            "generated_caption_fb": "={{ $('AI: Write Facebook Caption').item.json.message.content }}",
            "generated_article_wp": "={{ $('AI: Write Website Article').item.json.message.content }}",
            "status": "review"
          },
          "matchingColumns": ["post_id"]
        }
      },
      "id": "update-sheet-generated",
      "name": "Save Generated Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2420, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_REVIEW_CHANNEL }}",
        "text": "📋 *Content Review #{{ $json.post_id }}*",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "📋 Content Review #{{ $json.post_id }}"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Channel:* {{ $json.channel }}\n*Topic:* {{ $json.topic }}\n*Scheduled:* {{ $json.date_planned }} {{ $json.time_planned }}"
              }
            },
            {
              "type": "image",
              "title": {
                "type": "plain_text",
                "text": "Generated Image"
              },
              "image_url": "={{ $('Set Image URL').item.json.generated_image_url }}",
              "alt_text": "Generated content image"
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*📱 Facebook Caption:*\n>>> {{ $('AI: Write Facebook Caption').item.json.message.content }}"
              }
            },
            {
              "type": "divider"
            },
            {
              "type": "actions",
              "block_id": "review_actions_{{ $json.post_id }}",
              "elements": [
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "✅ Approve"
                  },
                  "style": "primary",
                  "action_id": "approve_content",
                  "value": "{{ $json.post_id }}"
                },
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "❌ Reject"
                  },
                  "style": "danger",
                  "action_id": "reject_content",
                  "value": "{{ $json.post_id }}"
                },
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "✏️ Edit & Regenerate"
                  },
                  "action_id": "edit_content",
                  "value": "{{ $json.post_id }}"
                }
              ]
            }
          ]
        }
      },
      "id": "slack-review",
      "name": "Send for Review (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2640, 0],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Read Pending Content", "type": "main", "index": 0 }]
      ]
    },
    "Read Pending Content": {
      "main": [
        [{ "node": "Filter Pending Only", "type": "main", "index": 0 }]
      ]
    },
    "Filter Pending Only": {
      "main": [
        [{ "node": "Set Status: Creating", "type": "main", "index": 0 }]
      ]
    },
    "Set Status: Creating": {
      "main": [
        [{ "node": "Create Image (Bannerbear)", "type": "main", "index": 0 }]
      ]
    },
    "Create Image (Bannerbear)": {
      "main": [
        [{ "node": "Wait for Image Render", "type": "main", "index": 0 }]
      ]
    },
    "Wait for Image Render": {
      "main": [
        [{ "node": "Check Image Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Image Status": {
      "main": [
        [{ "node": "Image Ready?", "type": "main", "index": 0 }]
      ]
    },
    "Image Ready?": {
      "main": [
        [{ "node": "Set Image URL", "type": "main", "index": 0 }],
        [{ "node": "Wait for Image Render", "type": "main", "index": 0 }]
      ]
    },
    "Set Image URL": {
      "main": [
        [{ "node": "Route by Channel", "type": "main", "index": 0 }]
      ]
    },
    "Route by Channel": {
      "main": [
        [{ "node": "AI: Write Facebook Caption", "type": "main", "index": 0 }],
        [{ "node": "AI: Write Website Article", "type": "main", "index": 0 }],
        [
          { "node": "AI: Write Facebook Caption", "type": "main", "index": 0 },
          { "node": "AI: Write Website Article", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI: Write Facebook Caption": {
      "main": [
        [{ "node": "Save Generated Content", "type": "main", "index": 0 }]
      ]
    },
    "AI: Write Website Article": {
      "main": [
        [{ "node": "Save Generated Content", "type": "main", "index": 0 }]
      ]
    },
    "Save Generated Content": {
      "main": [
        [{ "node": "Send for Review (Slack)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "content-automation",
      "id": "content-automation"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
